
.divider-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
  }
  

  .divider-line {
    width: 0; 
    height: 4px; 
    background-color: #A7F2E4; 
    position: relative;
    animation: growVine 4s ease-out forwards; 
    border-radius: 2px; 
  }
  
 
  @keyframes growVine {
    0% {
      width: 0; 
      transform: scaleY(1); 
    }
    100% {
      width: 100%; 
      transform: scaleY(1); 
    }
  }
  