
#home {
  text-align: center;
  padding: 50px;
  background: #261a23;
  color: #a7f2e4;
  border-radius: 10px;
  margin: 500px 0; 
}

#home h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #e6e6e6;
}

#home p {
  font-size: 1.5em;
  color: #a7f2e4; 
}


.button {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.2em;
  color: #2c2c2c; 
  background-color: #e6e6e6; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #b0c4ff; 
  color: #1a1a1a;
}

@media (max-width: 768px) {
  #home {
    max-width: 90%; 
    padding: 15px; 
  }

  #home h1 {
    font-size: 2em; 
  }

  #home p {
    font-size: 1em; 
  }
}

@media (max-width: 480px) {
  #home {
    max-width: 95%; 
    padding: 10px;
  }

  #home h1 {
    font-size: 1.8em; 
  }

  #home p {
    font-size: 0.9em;
  }
}

