.projects-section {
  padding: 0px 20px;
  text-align: center;
  color: #031c31;
  margin-top: -20px;
}

.projects-section h2 {
  font-size: 8.5em;
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.projects-section h3 {
  color: #031c31;
}

.project-box {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.project-title {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  color: #4d7fa8;
  margin-bottom: 20px;
}

.project-content {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  min-height: 400px; 
  max-height: 00px;
}

.project-content img {
  width: 100%;
  max-height: 300px;
  min-height: 300px;
  object-fit: contain;
  border-radius: 8px;
}

.project-video {
  width: 100%;
  max-width: 300px;
  max-height: auto;
  border-radius: 8px;
}



.project-content p {
  font-size: 1.2em;
  color: #031c31;
  line-height: 1.2;
  margin: 10px 0;
  font-family:monospace;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.nav-button {
  background-color: #031c31;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button.active {
  background-color: #36658e;
}

.nav-button:hover {
  background-color: #2b4d73;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  #projects h2 {
    font-size: 2rem;
  }

  #projects p {
    font-size: 1rem;
  }

  .project-slide h2 {
    font-size: 2rem;
  }

  .project-slide p {
    font-size: 1rem;
  }

  .project-slide img {
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  #projects h2 {
    font-size: 2.8em;
  }
  #projects h3 { 
    font-size: 1.4rem; 
    margin-top: -25px;
    margin-bottom: -20px;
  }

  #projects p {
    font-size: 0.9em;
    padding-bottom: 0px;
    line-height: 1.4;
  }

  .project-slide h2 {
    font-size: 1.8rem;
  }

  .project-slide p {
    font-size: 0.9em;
    padding-bottom: 0px;
    line-height: 1.4;
  }

  .project-slide img {
    width: 100%;
    max-width: 300px;
  }
  .navigation-buttons {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 5px; 
    flex-wrap: wrap; 
    margin-top: 0px;
    margin-bottom: -20px;
    
  }
  .projects-section {
    padding: 50px 20px 20px 20px;
    text-align: center;
    color: #031c31;
  
  }
  .nav-button {
    flex: 1 1 auto; 
    min-width: 40px; 
    padding: 10px 15px; 
    font-size: 0.9rem; 
  }
  .project-video {
    width: 100%;
    max-height: 350px;
    border-radius: 8px;
    margin-top: 120px;
  }
}
