
.sidebar {
  position: sticky;
  height:90vh;
  flex: 0 1 250px; 
  max-width: 300px;
  background-color: #261A23;
  padding: 20px; 
  color: #e6e6e6;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 70px;
  
}

.sidebar-social-icons {
  display: flex;
  gap: 20px;
  margin-top: auto; 
  margin-bottom: 25px;
}


.sidebar-social-icons a i {
  color: #A7F2E4;
  font-size: 2em; 
  transition: color 0.3s ease; 
}

.sidebar-social-icons a i:hover {
  color: #3c6e65; 
}


.sidebar-header {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  white-space: nowrap; 
}

.sidebar-header h1 {
  font-size: 2.8em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #e6e6e6;
}

.sidebar-header h2 {
  font-size: 1.5em;
  font-weight: normal;
  color: #e6e6e6;
  margin: 0 0 10px 0;
}

.sidebar-header p {
  font-size: 1em;
  color: #b6b6b6;
  margin: 0;
  font-weight: normal;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-links li {
  margin: 20px 0;
}

.sidebar-links a {
  text-decoration: none;
  color: #A7F2E4;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.sidebar-links a:hover {
  color: #3c6e65;
}


@media (max-width: 973px) and (min-width: 768px) {
  .sidebar {
    position: static; 
    width: 100%; 
    max-width: 90%; 
    margin: 0 auto; 
    height: auto; 
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: static; 
    width: 100%; 
    max-width: 90%; 
    margin: 0 auto; 
    height: auto; 
  }

  .sidebar-header h1 {
    font-size: 2.4em; 
  }

  .sidebar-header h2 {
    font-size: 1.3em; 
  }

  .sidebar-header p {
    font-size: 0.9em; 
  }

  .sidebar-links a {
    font-size: 1.3em; 
  }
}

@media (max-width: 480px) {
  .sidebar {
    position: static; 
    width: 100%; 
    max-width: 90%; 
    margin: 0 auto; 
    height: auto; 
  }

  .sidebar-header h1 {
    font-size: 2em; 
  }

  .sidebar-header h2 {
    font-size: 1.2em;
  }

  .sidebar-header p {
    font-size: 0.8em; 
  }

  .sidebar-links a {
    font-size: 1.2em; 
  }
}